.acc {
    margin-top: 20px;
    border-top: 1px solid $color-gray-light;

    &--desktop {
        @include breakpoint(phone) {
            display: none;
        }
    }

    &--mobile {
        @include breakpoint(desktop) {
            display: none;
        }
    }

    @include breakpoint(phone) {
        margin-top: 50px;
    }

    &__btn {
        text-transform: uppercase;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 34px 0;
        font-weight: 500;

        @include breakpoint(phone) {
            padding: 20px 24px;
        }

        span {
            display: block;
            position: absolute;
            right: 0;
            top: calc(50% - 6px);
            height: 12px;
            width: 12px;
            transition: transform 0.5s $easing;
            transform-origin: 50% 50%;

            @include breakpoint(phone) {
                right: 24px;
            }

            &::after,
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                height: 1px;
                width: 100%;
                background: $color-black;
            }

            &::before {
                transform: rotate(90deg) scaleX(0);
                transition: transform 0.5s $easing;
            }
        }

        &[aria-expanded="true"] {
            span {
                transform: rotate(90deg);

                &::before {
                    transform: rotate(90deg) scaleX(1);
                }
            }
        }
    }

    &__wrap {
        overflow: hidden;
        padding: 0 24px;
    }

    li {
        border-bottom: 1px solid $color-gray-light;
    }

    &__text {
        padding-bottom: 30px;
    }
}