.button {
    position: relative;
    min-height: 42px;
    border: 1px solid $color-black;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: $color-black;
        z-index: 0;
        transition: transform 0.5s $easing;
        transform-origin: left;
    }

    &__text {
        position: relative;
        z-index: 3;
        text-transform: uppercase;
        color: $color-white;
        padding: 14px 28px;
        transition: color 0.5s $easing;

        @include breakpoint(phone) {
            font-size: 13px;
            font-weight: 500;
            padding: 14px 35px;
        }
    }

    @include hover {
        &::after {
            transform: scaleX(0);
            transform-origin: right;
        }

        .button__text {
            color: $color-black;
        }
    }
}