.icon-close {
    display: block;
    position: relative;
    transition: transform 0.3s $easing;
    height: 24px;
    width: 24px;
    pointer-events: none;

    &::after,
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        background: $color-dark;
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}