.header {
    width: 100%;
    border-bottom: 1px solid $color-dark;
    height: $header;
    z-index: 5;
    position: relative;
    transition: background 0.5s $easing;

    @include hover {
        background: $color-white;
    }

    .is-search & {
        background: $color-white;
    }

    &__wrap {
        position: relative;
        height: $header;
        padding: 0 35px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        height: 100%;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        display: flex;
        align-items: center;

        svg {
            width: 60px;
        }
    }

    &__links {
        display: flex;
        align-items: center;

        a {
            display: block;
            margin: 10px;
            width: 20px;

            svg {
                width: 100%;
                pointer-events: none;
            }
        }
    }
}