.header {
    width: 100%;
    height: $header;
    z-index: 5;

    @include breakpoint(phone) {
        height: 78px;
    }

    &__wrap {
        position: relative;
        height: $header;
        padding: 0 35px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $color-gray-light;
        transition: background 0.6s $easing;

        @include breakpoint(phone) {
            height: 78px;
            padding: 0 15px;
        }

        .is-white & {
            background: $color-white;
        }

        .is-search & {
            background: $color-white;
        }

        @include hover {
            background: $color-white;
        }
    }



    &__logo {
        height: 100%;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        display: flex;
        align-items: center;


        svg {
            width: 60px;

            @include breakpoint(phone) {
                width: 40px;
            }
        }
    }

    &__links {
        display: flex;
        align-items: center;

        a {
            display: block;
            margin: 10px;
            width: 20px;

            @include breakpoint(phone) {
                width: 16px;
                margin: 0 0 0 20px;
            }

            svg {
                width: 100%;
                pointer-events: none;
            }
        }

        @include breakpoint(not-desktop) {
            .account {
                display: none;
            }
        }
    }
}