.newsletter {
    margin-top: 18px;

    input[type="email"] {
        padding: 12px 14px;
        border: 1px solid $color-gray-light;
        color: $color-gray;
        transition: border-color 0.4s $easing;

        &:focus {
            border-color: $color-dark;
        }
    }

    button {
        margin-top: 20px;
    }
}