.section {
    position: relative;

    &__heading {
        text-align: center;
    }

    &--hero {
        margin: -$header auto 0;
    }

    &--form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--form {
        margin: -$header auto 0;
        height: 100vh;
    }

    &--header {
        margin: 50px;
        text-align: center;

        h1 {
            font-size: 25px;
            letter-spacing: 2px;
        }
    }

    h3 {
        font-size: vw(24);
        text-transform: uppercase;

        & + a {
            display: block;
            margin-top: 30px;
        }
    }

    &--p,
    &--ps {
        padding: 80px 60px;

        .section__heading {
            margin-bottom: vw(70);
        }
    }

    &--ps {
        padding: 60px 0;
    }

    &--pt {
        padding: 80px 0;
    }

    &--bt {
        border-top: 1px solid $color-gray-light;
    }
}