.shipping-info {
    background: $color-pale;
    height: $info;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: relative;
    z-index: 5;
}