.sort {
    width: 100%;
    border-top: 1px solid $color-gray-light;
    border-bottom: 1px solid $color-gray-light;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;

    @include breakpoint(phone) {
        justify-content: center;
    }

    &-btn {
        text-transform: uppercase;
        padding: 18px 45px;
        display: flex;
        align-items: center;
        border-left: 1px solid $color-gray-light;

        @include breakpoint(phone) {
            border: none;
        }

        span {
            display: block;
            position: relative;
            margin-left: 7px;
            overflow: hidden;
            margin-bottom: 1px;

            svg {
                transition: transform 0.4s $easing;
            }

            svg:last-of-type {
                position: absolute;
                top: -10px;
                left: 0;
            }
        }

        @include hover {
            svg:first-of-type {
                transform: translateY(15px);
            }

            svg:last-of-type {
                transform: translateY(15px);
            }
        }
    }

    &__list {
        z-index: 3;
        position: absolute;
        top: 75px;
        right: 0;
        background: $color-white;
        text-align: right;
        filter: drop-shadow(0 -1px 3px rgba(54,54,54, .2));
        opacity: 0;
        pointer-events: none;
        transform: translateY(-15px);
        transition: transform 0.3s $easing, opacity 0.3s $easing;

        @include breakpoint(phone) {
            text-align: center;
            right: auto;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            bottom: 100%;
            right: 25px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 12px 12px 12px;
            border-color: transparent transparent $color-white transparent;
            filter: drop-shadow(0 -1px 1px rgba(54,54,54, .1));
            z-index: 0;

            @include breakpoint(phone) {
                right: calc(50% - 6px);
            }
        }

        .is-sort-open & {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
        }

        button {
            padding: 12px 50px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
            opacity: 0.74;
            transition: opacity 0.4s $easing;

            @include hover {
                opacity: 1;
            }
        }
    }
}