.svg-facebook {
    width: 10px;
}

.svg-instagram {
    width: 20px;
}

.svg-pinterest {
    width: 20px;
}

.svg-tiktok {
    width: 17px;
}

.svg-chevron {
    width: 12px;
    opacity: 0.7;
}

.svg-search {
    width: 16px;
}