.swiper {
    &--hero {
        width: 100vw;
        height: calc(100vh - #{$info});

        img {
            transform: scale(1.2);
        }
    }

    &--gallery {
        position: relative;
    }

    &-thumb {
        display: flex;
        justify-content: center;

        @include breakpoint(phone) {
            display: none;
        }

        &-slide {
            margin: 10px;
            max-width: 100px;
            cursor: pointer;
            position: relative;


            &::after {
                content: "";
                position: absolute;
                inset: -1px;
                background: $color-black;
                z-index: 0;
                transform: scale(0.95);
                transition: transform 0.2s $easing;
            }

            &.is-active::after {
                transform: scale(1);
            }

            img {
                position: relative;
                z-index: 2;
                aspect-ratio: 1;
            }
        }
    }

    &__desc {
        position: absolute;
        inset: auto 0 70px 0;
        text-align: center;
        line-height: 1.2;
        text-transform: uppercase;

        @include breakpoint(phone) {
            bottom: 85px;
        }

        h2 {
            font-size: 22px;

            @include breakpoint(phone) {
                font-size: 18px;
                margin-bottom: 25px;
                font-weight: 500;
            }
        }

        p:last-of-type {
            margin-bottom: 30px;
            font-size: 12px;

            @include breakpoint(phone) {
                display: none;
            }
        }

        @include breakpoint(phone) {
            .button:last-of-type {
                margin-left: 20px;
            }
        }
    }

    &-pagination {
        display: flex;
        bottom: 30px !important;
        right: 30px !important;
        left: auto !important;
        width: fit-content !important;

        @include breakpoint(phone) {
            right: auto !important;
            left: 30px !important;

            .product & {
                left: 50% !important;
                top: calc(100% + 10px);
                transform: translateX(-50%);
            }
        }
    }

    &-pagination-bullet {
        display: block;
        height: 12px;
        width: 12px;
        padding: 5px !important;
        margin: 5px 10px !important;
        opacity: 1;
        background: $color-pale;
        border-radius: 50%;
        border: 1px solid $color-black;
        transition: background 0.4s $easing;

        &-active {
            background: $color-black;
            pointer-events: none;
        }
    }

    &-button-prev,
    &-button-next {
        top: 100% !important;
        color: $color-dark;
        transform: translateY(50%);
        left: 28% !important;

        &:after {
            font-size: 20px !important;
        }
    }

    &-button-next {
        left: auto !important;
        right: 28% !important;
    }
}