.cards {

    .sort + & {
        padding-top: 20px;

        @include breakpoint(tablet) {
            padding-top: 50px;
        }
    }

    &--center {
        @include breakpoint(phone) {
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &__wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        margin: 0 auto;
        width: 100%;
        position: relative;

        @include breakpoint(not-desktop) {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        @include breakpoint(phone) {
            gap: 10px;
        }

        .cards--center & {
            display: flex;
            justify-content: center;
            margin: 0 calc((100vw - 208px - 10px) / 2);
        }
    }

    &__more {
        display: flex;
        align-items: center;
        margin: 80px auto 0;
        width: fit-content;

        @include breakpoint(phone) {
            margin-top: 50px;
        }
    }
}