.insta-grid {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(tablet) {
        a:nth-of-type(9),
        a:nth-of-type(10),
        a:nth-of-type(11),
        a:nth-of-type(12) {
            display: none;
        }
    }
 
    @include breakpoint(phone) {
        a:nth-of-type(7),
        a:nth-of-type(8),
        a:nth-of-type(9),
        a:nth-of-type(10),
        a:nth-of-type(11),
        a:nth-of-type(12) {
            display: none;
        }
    }

    & > * {
        flex-basis: calc(100% / 6);

        @include breakpoint(tablet) {
            flex-basis: 25%;
        }

        @include breakpoint(phone) {
            flex-basis: calc(100% / 3);
        }

        img {
            aspect-ratio: 1/1;
        }
    }
}