.loader {
    position: fixed;
    inset: 0;
    background: $color-white;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    // opacity: 0;
    // pointer-events: none;

    svg {
        width: 70px;
    }
}