.product {
    margin: 50px auto;
    max-width: 1340px;

    @include breakpoint(not-desktop) {
        margin-top: 0;
    }

    &__gallery {

        @include breakpoint(desktop) {
            overflow: hidden;
        }

        img {
            aspect-ratio: 1;
        }
    }

    &__aside {
        max-width: calc(100% - 550px);

        @include breakpoint(not-desktop) {
            max-width: 100%;
        }
    }

    &__info {
        width: 400px;
        min-width: 400px;
        margin: 0 100px 0 50px;

        @include breakpoint(tablet) {
            width: 500px;
            min-width: 500px;
            margin: 20px auto;
        }

        @include breakpoint(phone) {
            margin: 60px 0 0;
            padding: 0 24px;
            width: 100%;
            min-width: 100%;
        }
    }

    &__price {
        @include breakpoint(not-desktop) {
            text-align: center;

            @include breakpoint(tablet) {
                font-size: 20px;
            }
        }
    }

    &__title {
        text-transform: uppercase;

        @include breakpoint(not-desktop) {
            text-align: center;
            margin-bottom: 20px;

            @include breakpoint(phone) {
                font-size: 20px;
            }
        }
    }

    .button {
        width: 100%;
    }

    &__text {
        margin-top: 24px;

        @include breakpoint(tablet) {
            font-size: 20px;
        }
    }

    &__wrap {
        display: flex;
        justify-content: flex-start;

        @include breakpoint(not-desktop) {
            flex-direction: column;
        }
    }
}